html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --black: #1c1c1c;
  /* --grey-dark: #394848; */
  /* --grey-medium: #788c8c; */
  --grey-light: #d1dcdc;
  /* --grey-extra-light: #eaeeee; */
  --teal: #008381;
  --scrollbar-background-color: var(--white);
  --scrollbar-thumb-color: var(--black);
  /* --font-big: Brice;
  --font-small: NeueMetana; */
  --border: 5px solid var(--black);
}

/* @font-face {
  font-family: Brice;
  src: local("Brice Black"), local("Brice-Black"),
    url("./fonts/brice/Brice-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/brice/Brice-Black.woff2") format("woff2"),
    url("./fonts/brice/Brice-Black.woff") format("woff"),
    url("./fonts/brice/Brice-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: NeueMetana;
  src: url("./fonts/neue-metana/NeueMetana-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: NeueMetana;
  src: url("./fonts/neue-metana/NeueMetana-Bold.otf") format("opentype");
  font-weight: bold;
} */

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

h1,
h2 {
  color: var(--black);
  font-weight: normal;
  font-family: var(--font-big);
  text-transform: uppercase;
}

h1 {
  font-size: 3.375rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 3rem;
}

h3,
h4,
p,
small,
button,
select {
  color: var(--black);
  font-weight: normal;
  font-family: var(--font-small);
}

h3 {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

button {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.563rem 6.25rem;
  border: 2px solid var(--teal);
  cursor: pointer;
  max-width: 100%;
}

.button-secondary {
  background-color: transparent;
  color: var(--teal);
}

button,
.button-secondary:hover {
  background-color: var(--teal);
  color: var(--white);
}

img {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  line-height: 0px;
}

select {
  background-color: transparent;
  border: none;
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: normal;
  transform: translateY(-0.125rem);
  outline: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color)
    var(--scrollbar-background-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  border-left: var(--border);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 20px;
  border: 2px solid var(--scrollbar-background-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

#content {
  min-height: 100%;
  overflow: hidden;
  flex: 1;
}

header {
}

footer {
}

#wcb_p {
  flex: 1;
}

#wcb_a {
  color: var(--white) !important;
  background-color: var(--teal) !important;
  border-color: var(--teal) !important;
}
#wcb_g {
  border-color: var(--teal) !important;
  color: var(--black) !important;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  button {
    padding: 2rem !important;
  }
}
